<form [formGroup]="testForm" ngxScrollToFirstInvalid>
  <input type="text" class="input" formControlName="someText1">
  <br>
  <input type="text" class="input" formControlName="someText2">
  <br>
  <input type="text" class="input" formControlName="someText3">
  <br>
  <input type="text" class="input" formControlName="someText4">
  <br>
  <input type="text" class="input" formControlName="someText5">
  <br>
  <input type="text" class="input" formControlName="someText6">
  <br>
  <input type="text" class="input" formControlName="someText7">
  <br>
  <input type="text" class="input" formControlName="someText8">
  <br>
  <input type="text" class="input" formControlName="someText9">
  <br>
  <input type="text" class="input" formControlName="someText10">
  <br>
  <button (click)="saveForm()"></button>
</form>
